Stackoverflow-Data-SSIS/XSD Files/PostHistory.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="posthistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="row">
          <xs:complexType>
            <xs:attribute name="Id" type="xs:int" use="optional" />
            <xs:attribute name="PostHistoryTypeId" type="xs:int" use="optional" />
            <xs:attribute name="PostId" type="xs:int" use="optional" />
            <xs:attribute name="RevisionGUID" type="xs:string" use="optional" />
            <xs:attribute name="CreationDate" type="xs:dateTime" use="optional" />
            <xs:attribute name="UserId" type="xs:int" use="optional" />
            <xs:attribute name="Text" type="xs:string" use="optional" />
            <xs:attribute name="Comment" type="xs:string" use="optional" />
            <xs:attribute name="UserDisplayName" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>